{% extends "base.html" %}
{% block main_content %}

    <div id="main_content" class="grid_10">

    {% if object_list %}

        <div id="authors_list">
        <ul>
        {% for feed in object_list %}
            <li class="author_id">
                <h2>{{ feed.author.author_name }}</h2>
                {% if feed.author.gotchi %}
                    <img src="/media/{{ feed.author.gotchi}}" />
                {% else %}
                    <img src="{{ default_avatar }}" />
                {% endif %}
                <p>
                    <span class="author_title">Bio:</span>
                    {{ feed.author.biography|safe }}
                </p>
                <p>
                    <span class="author_title">Website:</span>
                    <a href="{{ feed.feed_url }}">{{ feed.feed_title }}</a>
                <p>
            </li><!--end author_id-->
        {% endfor %}
        </ul>
        </div><!--end authors_list -->
    {% endif %}
    </div><!--end main_content-->

{% endblock %}
