{% extends "base.html" %}
{% block main_content %}
    <div id="main_content" class="grid_10">
        <ul>
        {% for post in object_list %}
            <li class="article">
                <h2>{{ post.title }}</h2>
                <div class="article_info">
                    <p class="article_date">
                        <span class="article_date">Date: </span>{{ post.date_modified|date:"D d M Y"}}.
                    </p>
                    <p>
                       <span class="author_title">Author: </span>
                       <a href="{{ post.feed.site_url }}">{{ post.feed.author }}</a>
                    </p>
                    <p class="original_article_link">
                        <a href="/post/{{ post.id }}">Read article</a>
                    </p>
                </div><!-- end article_info -->
            </li><!--end article-->
        {% endfor %}
        </ul>
    </div><!--end main_content-->
{% endblock %}
