{% extends "base.html" %}
{% load i18n %}
{% block main_content %}

    <div id="main_content">

    {% if object_list %}

        {% for post in object_list|slice:":1" %}

            <div id="featured_article">
                <h2><a href="#">{{ post.title|upper }}</a></h2>
                <p>{{ post.content|safe|truncatewords_html:"140" }}</p>
                <p class="more"><a href="/post/{{ post.id }}">{% trans "Read More" %}</a></p>
            </div>
        {% endfor %}

        <div id="col_1">
            <ul id="articles_list">
                {% for post in object_list|slice:"1:6" %}
                    <li class="article">
                        <h2><a href="#">{{ post.title|upper }}</a></h2>
                        <p>{{ post.content|safe|truncatewords_html:"50" }}</p>
                        <p class="more"><a href="/post/{{ post.id }}">{% trans "Read More" %}</a></p>
                    </li>
                {% endfor %}

            </ul><!-- end article_list-->
        </div><!-- col_1 -->

        <div id="col_2">
            <ul id="old_articles_list">
                {% for post in object_list|slice:"7:" %}
                    <li class="article">
                        <h3><a href="#">{{ post.title|upper }}</a></h3>
                        <p>{{ post.content|safe|truncatewords_html:"50" }}</p>
                        <p class="more"><a href="/post/{{ post.id }}">{% trans "Read More" %}</a></p>
                    </li>
                {% endfor %}
            </ul><!-- end old_article_list-->
        </div><!-- col_2 -->

    {% endif %}

    {% if is_paginated %}
        <div class="pagination">
            {% if page_obj.has_previous %}
                <p><a href="/page/{{ page_obj.previous_page_number }}/" title="Newer entries">{% trans "Newer entries" %}</a></p>
            {% endif %}
            {% if page_obj.has_next %}
                <p><a href="/page/{{ page_obj.next_page_number }}/" title="Older entries">{% trans "Older entries" %}</a></p>
            {% endif %}
        </div>
    {% endif %}

    </div><!--end main_content-->


{% endblock %}
