<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN" 
    "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

{% include "header.html" %}

<body>
    <div class="container_16 spacer" id="sansplanet">

        {% include "top.html" %}


        {% include "navigation.html" %}

        <div class="clear"></div>

        {% block main_content %}{% endblock %}

        {% include "authors.html" %}

        {% include "about.html" %}

        <div class="clear"></div>

        {% include "footer.html" %}

    </div><!--end container_16-->

</body>
</html>
